#views- Oprahs_list
#Shows scraped listed of books with title, author, and clickable link to goodreads individual book_profile_url 
#button to add a book to list. redirect to '/account'
#button to go back to homepage
#button to go to account 

#Books.all 

# <h1> Check out Oprah's Book List! </h2><br>
# <% @books.each do |book|%>