<h2><a href="/">Home</a> | <a href="/mybooks">My Books</a> |  <a href="/mybooks/new">Add Book</a> |   <a href="/logout">Log Out</a></h2><br>
<h3>Please choose a book you have read:</h3><br>

<form method="post" action="/mybooks">
  <select name="book_id">
  <% @books.each do |book|%>
  <option value="<%=book.id%>"><%=book.title%></option> 
  <%end%>
  </select>
  <input type="submit" value="Add book">
</form>
<br>
<br>
  
  <a href="/mybooks">My Books</a><br>
  <a href="/oprah_books">Back to Oprah's List</a><br>
  <a href="/">Back to Homepage</a><br>