<h1>Heartcore Book Hub</h2>
<h2>So happy you are here! </h2><br>
<br>
<h4>Check out Oprah's 'Book Club Picks' below.</h4>
<h4>Click on a book to learn more about it.</h4>
<h4>Then choose a book you have read, and add it to your account.</h4><br>


<ol type="1">
<% @books.each do |book|%>
    <li><a href="<%=book.profile_url%>" target="_blank"><%=book.title%></a><br>
    by <%=book.author%></li><br>
<% end %> 
</ol>

<a href="/mybooks">My Books</a><br>
<a href="/oprah/new">Add Book</a><br>












