<h2><a href="/">Home</a> | <a href="/oprah_books">Oprah's Books</a> |   <a href="/mybooks">My Books</a> |  <a href="/mybooks/new">Add Book</a> |   <a href="/logout">Log Out</a></h2><br>

<h2>Heartcore Book Hub</h2><br>
<h4>Check out Oprah's 'Book Club Picks' below.</h4>
<h4>Click on a book to learn more about it.</h4>
<h4>Then choose a book you have read, and add it to your account.</h4><br>


<ol type="1">
<% @books.each do |book|%>
    <li><a href="<%=book.profile_url%>" target="_blank"><%=book.title%></a><br>
    by <%=book.author%></li><br>
<% end %> 
</ol>











