<h2>Oprah's Book List</h2><br>
<h5>Click on a book to learn more about it.</h5>
<h5>Click <a href="/mybooks/new">here</a> to add a book you have read to your account.</h5><br>


<ul>
<% @books.each do |book|%>
    <li><a href="<%=book.profile_url%>" target="_blank"><%=book.title%></a><br>
    by <%=book.author%></li><br>
    <% end %> 
</ul>











