<h3>
<ul>
 <li><a href="<%=@save.book.profile_url%>" target="_blank"><%=@save.book.title %></li>
</ul></h3>

<form method="post" action="/mybooks/<%= @save.book.id %>/delete">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <button type="submit">Remove Book</button> 
</form> 









