<h2>If you would like to remove this book from your 'read' list, please click delete.</h2>
<h2>To go back to your book list please click<a href="/mybooks"> here</a><br>

<ol type="1">
<li><a href="<%=@book.profile_url%>" target="_blank"><%=@book.title %></li>
</ol>

<form method="post" action="/mybooks/<%= @book.id %>/delete">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <button type="submit">Delete Book</button> 
</form> 









