<h2><a href="/">Home</a> | <a href="/mybooks">My Books</a> |  <a href="/mybooks/new">Add Book</a> |   <a href="/logout">Log Out</a></h2><br>

<h2>Heartcore Book Hub</h2>
<h4>It seems there was a problem. Please return to <a href="/">the home page</a> and try again.</h4>
<h3>Make sure both Username and Password fields are filled out. </h4>