<h3>Sign Up for Heartcore Book Hub</h3>
<form method="post" action="/signup"> 
<p><label for="username">Username:</label>
<input type="text" name="username" id="username">
<p><label for="password">Password:</label>
<input type="password" name="password" id="password"> 
<p><input type="submit" value="Sign Up">
<form> 